html, body {
	background: white;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 4rem 0;
	line-height: 1;
}

aside {
	padding: 1rem;
	padding-top: 4rem;
	position: absolute;
	top: 0;
	left: 0;
}

nav {
	padding-top: 4rem;
}

.barcode {
	color: black;
	text-decoration: none;
	display: block;
	font-family: 'Libre Barcode 128 Text', monospace;
	font-weight: normal;
	font-size: 4rem;
	text-decoration-color: red;
	line-height: 1;
	cursor: pointer;
}

.barcode:hover {
	text-decoration-line: line-through;
}

.barcode > span {
	position: absolute;
	display: none;
	font-family: monospace;
	font-size: 1rem;
}

input {
    display: none;
}

#contact-checkbox:checked + label > span > span,
#hello-checkbox:checked + label > span > span {
    display: block;
}

.main {

}

.main img {
	display: block;
	width: 100%;
}

.photo {
	padding: 1% 0;
	width: 40%;
	position: relative;
}

.photo:nth-of-type(1) {
	padding-left: 20%;
	padding-right: 20%;
}

.photo:nth-of-type(2) {
	padding-left: 15%;
	padding-right: 35%;
}

.photo:nth-of-type(3) {
	padding-left: 18%;
	padding-right: 22%;
}

.photo:nth-of-type(4) {
	padding-left: 21%;
	padding-right: 19%;
}