html, body {
	background: white;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
	padding: 4rem 0;
	line-height: 1;
}

aside {
	padding: 0;
	padding-top: 4rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

nav {
	padding-top: 4rem;
}

a {
	color: red;
}

.barcode {
	color: black;
	text-decoration: none;
	display: block;
	font-family: 'Libre Barcode 128 Text', monospace;
	font-weight: normal;
	font-size: 4rem;
	text-decoration-color: red;
	line-height: 1;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(255,0,0,0.5);
	padding: 0 1rem;
}

.barcode:hover {
	text-decoration-line: line-through;
}

.barcode > span {
	position: absolute;
	display: none;
	font-family: monospace;
	font-size: 1rem;
}

input {
    display: none;
}

#contact-checkbox:checked + label > span > span,
#hello-checkbox:checked + label > span > span {
    display: block;
}

.main {
}

.main img {
	display: block;
	width: 100%;
}

.photo {
	padding: 1% 0;
	width: 40%;
	position: relative;
}

@media (max-width: 1000px) {
	.photo {
		width: 50%;	
	}
}

.photo:nth-of-type(1) {
	padding-left: 30%;
}

.photo:nth-of-type(2) {
	padding-left: 25%;
}

.photo:nth-of-type(3) {
	padding-left: 27%;
}

.photo:nth-of-type(4) {
	padding-left: 23%;
}

.photo:nth-of-type(5) {
	padding-left: 29%;
}

.photo:nth-of-type(6) {
	padding-left: 24%;
}

@media (max-width: 500px) {
	.photo {
		width: 80%;	
	}

	.photo:nth-of-type(1) {
		padding-left: 10%;
	}

	.photo:nth-of-type(2) {
		padding-left: 15%;
	}

	.photo:nth-of-type(3) {
		padding-left: 17%;
	}

	.photo:nth-of-type(4) {
		padding-left: 13%;
	}

	.photo:nth-of-type(5) {
		padding-left: 9%;
	}

	.photo:nth-of-type(6) {
		padding-left: 12%;
	}

	aside {
		position: relative;
		padding-top: 1rem;
		padding-bottom: 2rem;
	}

	nav {
		padding-top: 1rem;
	}

	.barcode {
		display: inline-block;
	}
}

