html, body {
	background: #111111;
}

.main {
	margin: 0 auto;
	width: 60%;
}

.age-verification {
	text-align: center;
}

.main img {
	display: block;
	width: 100%;
}

.two:after {
	clear: both;
}

.two img {
	width: 50%;
	float: left;
}
